
            <div class="flexbox-item" ng-init="resetGames(); getMasterInfo();">
                <br>
                <center><h4 style="font-family: Iceland">Welcome to the Arcade!</h4></center>
                <center><p style="font-size: 22; font-family: Iceland; margin-left: 100; margin-right: 100;">My name is Evan Munro, and I am the host of this arcade. <br>I hope you enjoy my versions of a couple classic games that I've had the opportunity to make.<br> Make an account to start climbing the leaderboards in pursuit of the title Arcade Master! </p></center>
                
                <center><img src="pictures/bbpic.PNG" alt="Image" style="width:450; height: 300;display: inline; justify-content: flex-start">
                
                <img src="pictures/kcpic.PNG" alt="Image" style="width:450; height: 300;display: inline; justify-content: flex-end"></center>
                <br>
                <center><h4 style="font-family: Iceland">Our current Arcade Master(s) is/are....</h4></center>
                <center><h3 style="color: orangered;"><p><a>{{theMaster}}!</a></p></h3></center>
                <center><p style="font-size: 22; font-family: Iceland; margin-left: 100; margin-right: 100;">To earn the title Arcade Master, one must possess the highest average ranking across the four leaderboards.<br> You can't just be a one trick pony to earn swagger in this arcade. <br>You have to be dedicated to the art of gaming rather than just learning the tricks of a single game. </p></center>
                
            </div>
            


            