
            <div class="flexbox-item" ng-init="resetGames(); logout();">
                <br>
                <center><h4 style="font-family: Iceland">Logged Out </h4></center>
                <center><p style="font-size: 22; font-family: Iceland">Enjoy playing computer games that I have made or been a part of making. Sign-up for an account to track your results and start climbing the leaderboads to claim the title of King/Queen of the Arcade!!! </p></center>
                
               
                
                
                <br>
                
            </div>
            

